.coin_page {

  &__background {
    background-image : url('../../../public/images/banner2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__loader {
    background-color: #54abf0;
  }

  &__container {
    display: flex;
  }
}